/* Panther Pizza Shop Styles */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header */
header {
  text-align: center;
  margin-top: 50px;
   margin-bottom: 0;
  padding-bottom: 0;
}



.logo {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2.5em;
  margin: 1px 0;
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.btn {
  width: 200px;
  height: 100px;
  background-color: #b22222;
  border: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #ff4040;
  transform: scale(1.05);
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #bbb;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* removes underline for links */
}
